#header{
    margin-top: 25px;
    text-align: center;
}

i{
    color: rgb(0, 133, 255);
    margin-left: 10px;
    margin-right: 10px;
}

.icons{
    margin-top: 15px;
    padding: 5px;
    width: 70px;
    height: 65px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: antiquewhite;
}

#all-logo{
   text-align: center;
    background-color: aqua;
    width: 100%;
    height: 170px;
}

#info{
    box-shadow: 2px 2px 4px 0px black;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}


#results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #results tr:nth-child(odd){
    background-color: #f2f2f2;
}
  
  #results tr:hover {
    background-color: #ddd;
}
  
  #results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgba(0, 60, 255, 0.747);
    color: white;
  }